<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700;900&display=swap" rel="stylesheet">
    <title>HR | DataBase</title>
</head>
<body>

    <%- body %> 

    <% if(singupMessage.length > 0) {%> 
        <div class="singUpMessage">
            <%= singupMessage %> 
        </div>
    <% } %> 

    <% if(singinMessage.length > 0) {%> 
        <div class="singInMessage">
            <%= singinMessage %> 
        </div>
    <% } %> 

    <% if(authMessage.length > 0) {%> 
        <div class="authMessage">
            <%= authMessage %> 
        </div>
    <% } %>

    <% if(logoutMessage.length > 0) {%> 
        <div class="logoutMessage">
            <%= logoutMessage %> 
        </div>
    <% } %>

    

    

    <script src="https://kit.fontawesome.com/f45567b7c1.js" crossorigin="anonymous"></script>
</body>
</html>